    <div class="item">
      <div> Name </div>
        <div class="input"> 
          <input type="text" name="name" placeholder="Type your name" value="{{user.name}}"/>
        </div>
      </div>
   
   
   
    <div class="item">
      <div> Email </div>
        <div class="input"> 
          <input type="email" name="email" placeholder="Type your email" value="{{ user.email }}"
            onblur="Validate.apply(this, 'isEmail')"
          />
        </div>
    </div>
   
   
   
    <div class="item">
      <div> Password </div>
        <div class="input"> 
          <input type="password" name="password" placeholder="Type your password" value="{{user.password}}"/>
        </div>
    </div>
   
   
   {% if not user.id %}
   
   
   <div class="item">
      <div> Password </div>
        <div class="input"> 
          <input type="password" name="passwordRepeat" placeholder="password" />
        </div>
    </div>
   
   {% endif %}
   
    <div class="item">
      <div> CPF or CNPJ </div>
        <div class="input">  
          <input type="text" name="cpf_cnpj" placeholder="Type your cpf or cnpj" value="{{user.cpf_cnpj}}"
           onkeydown="Mask.apply(this, 'cpfCnpj')"
           onblur="Validate.apply(this, 'isCpfCpnj')"
           />
        </div>
    </div>
   
   <div class="item">
      <div> Zip Code </div>
        <div class="input"> 
          <input type="text" name="cep" placeholder="09920-077" value="{{user.cep}}"
          onkeydown="Mask.apply(this, 'cep')" 
          onblur="Validate.apply(this, 'isCep')"
           /> 
      </div>
    </div>
   
   

    <div class="item">
        <div>Address </div>
          <div class="input"> 
            <input type="text" name="addres" placeholder="Type your address" value="{{user.addres}}"/>
        </div>
    </div>
