{% macro render(title, classes)%}

<section class="card {{classes}}">

  <div class="card-header">
    <h3>{{tittle}}</h3>
  </div>

  <div class="card-content">
    {{ caller() }}
  </div>

</section>
{%endmacro%}