  <header> 

    <div class="container">
      <a href="/">
        <div class="logo">
          <h1>LaunchStore</h1>
          <h2>BUY AND SELL</h2>
        </div>
      </a>

      <form class="search" action="/products/search">
        <input 
          type="text"
          name="filter"
          placeholder="Search Products"
          {% if search.term%}
            value={{search.term}}
          {%endif%}
        >
      </form>

      <nav class="primary">
        <ul>
          <li>
            <a href="http://localhost:3000/products/create">
              <i class="material-icons">add</i>
              New ad
            </a>
          </li>

          <li class="accounts">
            <a href="http:/accounts">
              <i class="material-icons">account_circle</i>
              My account
            </a>

            {%if user%}
            <ul class="submenu">
              <li>
                <a href="/users">Settings</a>
              </li>

              <li>
                <a href="/buying">My requests </a>
              </li>

              <li>
                <a href="/selling">My sales</a>
              </li>

              <li>
                <form action="/users/logout" method="POST">
                  <button>Sair</button>
                </form>
              </li>
            </ul>
            {%endif%}
          </li>
        </ul>
      </nav>
    </div>

  </header>